{% extends "base.html" %}

{% block content %}
{% if watchlist|length > 0 %}   
    <div class="watchlist">
    <h2 id="watch">My Watchlist</h2>
    <ul>
    {% for movie in watchlist: %}
        
            <li><option value="{{ movie }}">{{ movie }}</option></li>
        
    {% endfor %}
    </ul>
    </div>
{% endif %}
<h2 id="editWATCH">Edit My Watchlist</h2>

<form action="/add" method="post" id="editFORM">
    <label>
        I want to add
        <input type="text" name="new-movie"/>
        to my watchlist.
    </label>
    <input type="submit" value="Add It"/>
</form>

<form action="/crossoff" method="post" id="crossFORM">
    <label>
        I want to cross off
        <select name="crossed-off-movie">
            <!-- need to loop over watchlist to create option elements -->
            {% for movie in watchlist: %}
            <ul>
                <li><option value="{{ movie }}">{{ movie }}</option></li>
            </ul>
            {% endfor %}
        </select>
        from my watchlist.
    </label>
    <input type="submit" value="Cross It Off"/>
</form>

{% if error %}
  <p class='error'>{{ error }}</p>
{% endif %}
{% endblock %}
